.done {
  font-family: "Pangolin", cursive;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: rgba(49, 48, 48, 0.842);
  color: #fff;
  border-top: 5px solid rgba(29, 29, 29, 0.842);

  &__title-d {
    font-size: 2rem;
    padding: 15px;
    border-bottom: 1px solid rgba(29, 29, 29, 0.842);
  }
  &__box-d {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 0.3rem;
    width: 90%;
    margin-right: 1.5rem;
    border-bottom: 1px solid rgba(29, 29, 29, 0.842);
  }
  &__box-d-conte1 {
    flex-basis: 40%;
  }
  &__box-d-conte2 {
    flex-basis: 40%;
  }

  &__text-d {
    flex-basis: 17%;
    margin-left: 20px;
  }
  &__data-complete-d {
    flex-basis: 10%;
  }
  &__btn-delete-d {
    flex-basis: 5%;
    margin: 0 5px;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
  }
  &__btn-delete-d:hover {
    background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color: #ce0100;
  }
  &__btn-delete-d:active {
    position: relative;
    top: 1px;
  }
  &__max-task {
    font-size: 15px;
    padding: 15px;
  }
}
